type vncflinger_exec, exec_type, file_type, system_file_type;
type vncflinger, domain, coredomain;

app_domain(vncflinger)
net_domain(vncflinger)
binder_use(vncflinger)

# uinput
allow vncflinger uhid_device:chr_file rw_file_perms;

# read buffers from surfaceflinger
allow vncflinger ion_device:chr_file r_file_perms;
allow vncflinger surfaceflinger_service:service_manager find;
binder_call(vncflinger, surfaceflinger);

# buffer callbacks
binder_call(surfaceflinger, vncflinger);

get_prop(vncflinger, hwservicemanager_prop)
allow vncflinger hal_graphics_allocator:fd use;
allow vncflinger same_process_hal_file:file { execute read open getattr map };
#hal_client_domain(vncflinger, hal_graphics_allocator);
hwbinder_use(vncflinger);

# needed for app domain ONLY
allow vncflinger app_api_service:service_manager find;
allow vncflinger system_api_service:service_manager find;
allow vncflinger app_data_file:dir create_dir_perms;
allow vncflinger app_data_file:{ file lnk_file } create_file_perms;
get_prop(vncflinger, default_prop)

# socket
allow vncflinger rootfs:lnk_file getattr;

# gpu access (needed on rk)
allow vncflinger gpu_device:chr_file { ioctl open read write };
