service vncflinger /system/bin/vncflinger -rfbunixpath /dev/socket/vncflinger -SecurityTypes=None 
    class late_start
    disabled
    user system
    group system input inet readproc
    socket vncflinger stream 0666 root system

on property:sys.vnc.enable=true
    start vncflinger

on property:sys.vnc.enable=false
    stop vncflinger

on boot
    # vnc
    chmod 0666 /dev/uinput
